faster-whisper==1.2.1
ctranslate2>=4.6,<5
numpy>=1.23,<3
PyAudioWPatch==0.2.12.8; sys_platform == "win32"
nvidia-cublas-cu12==12.4.5.8; sys_platform == "win32"
nvidia-cudnn-cu12==9.1.0.70; sys_platform == "win32"
nvidia-cuda-runtime-cu12==12.4.127; sys_platform == "win32"
nvidia-cuda-nvrtc-cu12==12.4.127; sys_platform == "win32"
